@import "var.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
  font-weight: 200;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

span {
  font-weight: bold;
}

hr {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid #d3d3d3;
  opacity: 75%;
}

main {
  background: linear-gradient(to right top, #14d1de, #17fa48);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background-color: white;
  min-height: 70vh;
  max-height: 90vh;
  width: 80%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2.1rem;
  display: flex;
  overflow: hidden;
}

.dashboard {
  flex: 1;
  display: flex;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2.1rem 0rem 0rem 2.1rem;
  border-right: 1px solid #d3d3d3;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.finLogo {
  padding: 1rem;
}

.link {
  display: flex;
  margin: 1rem 0rem;
  padding: 0rem 2rem;
  align-items: center;
}

.link i {
  font-size: 1rem;
  color: #696969;
  font-weight: 700;
}

.link .active-link {
  font-size: 1.4rem;
  background: linear-gradient(to right top, #14d1de, #17fa48);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link h3 {
  font-size: 18px;
  padding: 0rem 1rem;
  color: #696969;
  font-weight: 200;
}

.link:hover {
  background: linear-gradient(to right top, #14d1de, #17fa48);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promotion {
  display: flex;
  flex-direction: column;
  word-wrap: normal;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.promotion img {
  width: 65%;
  align-self: center;
}

.promotion p {
  padding: 1rem;
}

.redeem {
  margin: 0.5rem 0rem;
  border-radius: 2rem;
  border: 1px solid #d3d3d3;
  width: 50%;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  background-color: Transparent;
  align-self: center;
}

.redeem:hover {
  color: white;
  background: linear-gradient(to right top, #14d1de, #17fa48);
}

.user {
  display: flex;
  width: 80%;
  margin: 1rem 0rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1.5rem;
  line-break: strict;
}

.user img {
  width: 20%;
  border-radius: 50%;
  margin-right: 3rem;
}

.username {
  line-break: after;
  font-weight: 600;
}
.user-role {
  font-weight: 400;
  font-size: 14px;
  color: #696969;
}

.icon {
  padding-left: 1.5rem;
  color: #dcdcdc;
}

.icon:hover {
  background: linear-gradient(to right top, #14d1de, #17fa48);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Main Content*/
.finances {
  flex: 3;
  display: flex;
}

.recent {
  flex: 2;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.overview {
  margin: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.overview h1 {
  font-size: 40px;
  font-weight: 400;
}

.overview p {
  font-size: 15px;
  color: #696969;
  opacity: 95%;
}

.avaible-funds {
  background-color: white;
  border-radius: 1rem;
  width: 80%;
  padding: 1.8rem;
  position: absolute;
  top: 7rem;
}

.view-selection {
  width: 80%;
  padding: 0.2rem 0 0 1.8rem;
  outline: none;
  position: absolute;
  top: 16.4rem;
}

.view-selection button {
  width: 45%;
  margin: 0.5rem;
  padding: 1rem;
  border: none;
  background-color: transparent;
  border-radius: 1rem;
  color: #696969;
}

.view-selection button i {
  padding-right: 1rem;
}

.view-selection .active-button {
  background: linear-gradient(to right top, #14d1de, #17fa48);
  color: #ffffff;
  font-size: 17px;
}
.transactions {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  position: absolute;
  bottom: 0.1em;
}

.transaction-list {
  display: flex;
  padding: 0.3rem;
  justify-content: space-between;
}

.transaction-icon-minus {
  font-size: 14px;
  color: red;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
}
.transaction-icon-plus {
  font-size: 14px;
  color: green;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}

/* */

.quick-access {
  flex: 1;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar {
  top: 4.2rem;
  position: absolute;
}

.toolbar i {
  top: 1rem;
  margin: 1rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 50%;
  color: #696969;
}

.quick-transfer {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  top: 3rem;
  background-color: white;
  opacity: 75%;
  border-radius: 2rem;
  padding: 1rem;
  color: #696969;
  justify-content: space-evenly;
  align-items: center;
}

.quick-transfer h4 {
  padding: 1rem;
}

.quick-transfer button {
  border-radius: 2rem;
  border: 1px solid #d3d3d3;
  margin: 0.1rem;
  width: 40%;
  height: 50px;
  font-weight: 200;
  font-size: 12px;
  outline: none;
  background-color: Transparent;
}

.quick-transfer .active-button {
  background: linear-gradient(to right top, #14d1de, #17fa48);
  color: #ffffff;
}

.quick-transfer .send-money {
  border-radius: 2rem;
  border: 1px solid #d3d3d3;
  width: 45%;
  height: 50px;
  margin: 1.3rem;
  font-weight: 200;
  font-size: 12px;
  outline: none;
  background-color: Transparent;
}

.quick-transfer button:hover {
  color: white;
  border: none;
  background: linear-gradient(to right top, #14d1de, #17fa48);
}

.quick-transfer .quick-transfer-telephone {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: 80%;
  height: 2rem;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  margin-top: 1rem;
}

.quick-transfer .quick-transfer-amount {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: 80%;
  height: 2rem;
  border-bottom: 1px solid #d3d3d3;
  outline: none;
  margin-top: 1rem;
}

.quick-transfer-amount::-webkit-outer-spin-button,
.quick-transfer-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quick-transfer-amount[type="number"] {
  -moz-appearance: textfield;
}

.user-transfer {
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  margin: 1rem;
}

.user-transfer img {
  width: 15%;
  margin-right: 0.5rem;
  border-radius: 50%;
}
